@media (min-width: 0) and (max-width: 499px){
    .nav ul{
        display: none;
    }
    body {
        width: 100%;
        height: 9500px;
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: row;
        overflow: hidden;
    }
    .home{
        overflow: hidden;
        display: block;
        width: 100%;
        height: 1500px;
    }
    .homeleft{
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    .homeleft h1{
        position: absolute;
        width: 310px;
        height: 249px;
        left: 50px;
        top: 210px;
        font-size: 50px;
        margin: 0 auto;
    }
    .homeleft p{
        position: absolute;
        width: 310px;
        height: 87px;
        left: 50px;
        top: 485px;
        font-size: 15px;
        margin: 0 auto;
    }
    .Watch{
        position: absolute;
        top: 640px;
        left:70px;
        margin: 0 auto;
    }
    .homeright{
        padding: 0;
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    .homeright img{
        margin: 0 auto;
        transform: translateY(-200px);
    }
    .about{
        width: 100%;
        height: 800px;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
    }
    .about h1{
        font-weight: 600;
        font-size: 40px;
        line-height: 130%;
        margin: 0 auto;
        width: 90%;
    }
    .about p{
        font-size: 16px;
        line-height: 160%;
        color: #575859;
        margin: 2rem auto;
        width: 80%;
    }
    .aboutcontent{
        height:60%;
        width: 100%;
        flex-direction:column;
    }
    .img1, .img2{
        width: 50%;
        height: 50%;
    }
    .featured{
        width: 100%;
        height: 1780px;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
    }
    .featured>h1{
        width: 80%;
        height: 55px;
        font-weight: 500;
        font-size: 40px;
        margin: 10px auto 0;
    }
    .featured>p{
        width: 70%;
        height: 62px;
        font-size: 15px;
        margin-top: 20%;
    }
    .featuredcards{
        width: 100%;
        height: 75%;
        flex-direction: column;
    }
    .cards{
        width: 60%;
        height: 313px;
        margin: 1rem auto;
    }
    .cards h1{
        height: 34px;
        font-size: 21px;
    }
    .cards p{
        height: 50px;
        font-size: 15px;
    }
    .butreadmore{
        width: 85%;
        height: 50px;
    }
    .problems{
        height: 3000px;
        width: 90%;
        overflow: hidden;
    }
    .problemcards {
        width: 100%;
        height: 880px;
        margin: 0 auto;
    }
    .problems>h1{
        width:80%;
        height: 120px;
        font-size: 40px;
        margin:0 auto 2rem;
    }
    .problems>p{
        height: 87px;
        font-size: 16px;
        width: 80%;
        text-align:justify;
        margin: 5rem auto 0;
    }
    .boxout{
        margin: 1rem auto;
        width: 80%;
    }
    .pricing{
        width: 100%;
    }
    .pricing h1{
        height: 45px;

    }
    .pricing h3{
        height: 30px;
    }
    .pricingboxes{
        width: 100%;
        height: 1000px;
        flex-direction: column;
        margin-top: 1rem;
    }
    .pricingbox{
        margin-top: 1rem;
    }
    .med{
        display: none;
    }
    .footer{
        width: 100%;
        height: 700px;
        margin: 0 auto;
        transform: translateY(800px);
        overflow: hidden;
    }
    .footercontent{
        width: 100%;
        margin: 0;
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .innovated{
        display: none;
    }
    .services{
      display: none;
    }
    .support{
        margin: 1rem auto;
    }
    .contact{
        margin: 1rem auto;
    }
    .support>h1{
        margin: 0;
        font-size: 24px;
    }
    .footP{
        width: 50%;
    }
}