body{
    margin: 0;
    padding: 0;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;}
.home{
    width: 100%;
    height: 954px;
    margin: 0;
    padding: 0;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color:#FFF5F5;
}
.nav{
    width: 100%;
    margin:0;
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.nav ul li{
    margin: 0 1.5rem;
}
.nav ul li a:hover,.nav ul li a:active{
    text-decoration: underline;
    color: #2C52FD;
}
.nav ul li a{
    text-decoration: none;
    color: #575859;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out ;
}
.nav p{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
}
.but{
    padding: 15px 30px;
    width: 134px;
    height: 59px;
    left: 1235px;
    top: 40px;
    background: #3988FF;
    border-radius: 5px;
    border: none;
}
.but a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}
.homeleft, .homeright{
    width: 50%;
    height: 80%;
}
.homeleft h1{
    position: absolute;
    width: 550px;
    height: 249px;
    left: 170px;
    top: 200px;
    font-style: normal;
    font-weight: bold;
    font-size: 69px;
    line-height: 120%;
}
.homeleft p{
    position: absolute;
    width: 496px;
    height: 87px;
    left: 170px;
    top: 520px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
}
.homeleft h1 span{
    color: rgba(44, 82, 253, 0.85);
}
.Watch{
    position: relative;
    left: 170px;
    top: 560px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.Watch a{
    text-decoration: none;
    position: absolute;
    height: 29px;
    left: 0;
    top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #050C26;
}
.poligon{
    width: 22px;
    height: 22px;
    border-radius: 1px;
    margin:0 2rem;
}
.homeright img{
    width: 100%;
    height: 100%;
}
.about{
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    text-align: center;
}
.about h1{
    height: 56px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    color: #050C26;
}
.about p{
    height: 58px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
}
.aboutcontent{
    width: 100%;
    box-sizing: border-box;
    height:62.5%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.img1{
    width: 50%;
    height: 95%;
    border-radius: 10px;
 }
.img2{
    width: 25%;
    height: 60%;
    border-radius: 10px;
}
.featured{
    width: 100%;
    height: 680px;

    text-align: center;
    box-sizing: border-box;
}
.featured h1{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #050C26;
}
.featured p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
}
.featuredcards{
    width: 100%;
    height: 65%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5%;
}
.cards{
    height: 97%;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    border-radius: 8px;
    transition: 0.1s all  0.001s ease-in-out ;
}
.cards:hover{
    background-color: rgba(197, 72, 255, 0.2);
    transform: translateZ(10px) scale(1.1);
    box-shadow: 0 0 20px 10px  rgba(0,0,0,0.1);
}
.ellips{
    background-color: rgba(197, 72, 255, 0.1);
    margin:5% auto 0 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.ellips img{
    background-color: transparent;
    width: 40%;
    height: 40%;
}
.cards h1{
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #050C26;
}
.cards p{
    height: 52px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #575859;
}
.butreadmore{
    width: 140px;
    height: 50px;
    background-color: #3988FF;
    border-radius: 5px;
    margin: 5% auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.butreadmore a{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
}
.problems{
    height: 1240px;
    width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
}
.problems h1{
    width: 492px;
    height: 120px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #050C26;
}
.problems p{
    width: 604px;
    height: 87px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
     color: #575859;
}
.problemcards{
    width: 100%;
    height: 900px;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.boxout{
    width: 30%;
    height: 360px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(104px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxin{
    width:77.7%;
    height: 300px;
    background: #F3F3F3;
    border-radius: 10px;
    text-align: center;
}
.boxin h1{
    width: 241px;
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #050C26;
}
.boxin p{
    width: 241px;
    height: 52px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #575859;
}
.pricing{
    width: 1080px;
    margin: 0 auto;
    height: 870px;
    box-sizing: border-box;
    text-align: center;
}
.pricing h1{
    height: 49px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 140%;
    text-align: center;
    color: #050C26;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.pricing h3{
    height: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #575859;
    text-transform: uppercase;
}
.billing{
    width: 353px;
    height: 69px;
    border: 1px solid #1B45DA;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.billingtype{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 49px;
    border-radius: 5px;
    padding: 0;
}
.billingtype a{
    width: 150px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
    text-decoration: none;
    transition: 0.3s 0s  linear all;
}
.billingtype:hover{
    background-color: #3988FF;
    color: #ffffff;
}
.billingtype a:hover{
    color: #ffffff;
}
.pricingboxes{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    margin:2rem 0 0 0;
}
.pricingbox{
    width: 340px;
    height: 610px;
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}
.pricingbox:hover{
    box-shadow: 0 0 10px 7px rgba(0,0,0,0.2) ;
}
.pricingboxhead{
    box-sizing: border-box;
    width: 100%;
    height: 129px;
    background:transparent;
    box-shadow: 0 1px 0 rgba(153, 153, 153, 0.14);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricingbox h1{
    width: 99px;
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #050C26;
    text-transform: none;
}
.pricingbox h2{
    height: 49px;
    font-size: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    color: #050C26;
}
.pricingbox sub{
    width: 12px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #050C26;
}
.pricingbox span{
    width: 115px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #575859;
}
#box2{
    background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
    color: white;
}
#box2 span, #box2 h2,#box2 h2 sub,#box2 .pricingboxhead h1{
    color: white;
}
.purchase{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 161px;
    height: 68px;
    border: 1px solid #3988FF;
    box-sizing: border-box;
    border-radius: 5px;
    margin:3rem auto ;
}
.purchase a{
    width: 101px;
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #3988FF;
    text-decoration: none;
}
#box2 .purchase a{
    color: white;
}
#box2 .purchase{
    background-color: #3988FF;
}
.romb{
    position: absolute;
    width: 75px;
    height: 22px;
    background: #11BB92;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    left: -18px;
}
.romb p{
    width: 42px;
    height: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 160%;
    color: #050C26;
}
#box2 .pricingboxhead{
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
}

