body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;}
.home{
    width: 100%;
    height: 954px;
    margin: 0;
    padding: 0;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-image: url("../images/backgroundofhome.svg");
    background-position: center;
    background-repeat: no-repeat;

}
.nav{
    width: 100%;
    margin:0;
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.nav ul li{
    margin: 0 3rem;
}
.nav ul li a:hover,.nav ul li a:active{
    text-decoration: underline;
    color: #2C52FD;
}
.nav ul li a{
    text-decoration: none;
    position: absolute;
    width: 60px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /*line-height: 150%;*/
    color: #575859;

}
.nav p{
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    /*line-height: 150%;*/
}
.but{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    width: 134px;
    height: 59px;
    background: #3988FF;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
}
.but a{
    text-decoration: none;
    width: 74px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: white;
}
.homeleft{
    width: 50%;
    height: 80%;
}
.homeleft h1{
    position: absolute;
    width: 550px;
    height: 249px;
    left: 170px;
    top: 210px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 69px;
    line-height: 120%;
    color: #050C26;
}
.homeleft p{
    position: absolute;
    width: 496px;
    height: 87px;
    left: 170px;
    top: 520px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
}
.homeleft h1 span{
    color: rgba(44, 82, 253, 0.85);
}
.Watch{
    position: absolute;
    top: 650px;
    left:180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 200px;
}
.Watch a{
    text-decoration: none;
    height: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #050C26;
}
.ellipsoid{
    width: 70px;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 30px #FFE6E9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.poligon{
    width: 22px;
    height: 22px;
    border-radius: 1px;
    margin:0 2rem;
}
.homeright{
    margin-top: 2.1rem;
    width: 50%;
    height: 60%;
}
.homeright img{
    width: 100%;
    height: 100%;
}
.about{
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    text-align: center;
}
.about h1{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    text-align: center;
    color: #050C26;
    margin-left: 10rem;
}
.about p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
    width: 810px;
    margin-left: 30rem;
    margin-bottom: 0;
}
.aboutcontent{
    width: 70%;
    box-sizing: border-box;
    height:80%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.img1{
    width: 50%;
    height: 95%;
    border-radius: 10px;
 }
.img2{
    width: 25%;
    height: 60%;
}
.featured{
    width: 100%;
    height: 680px;

    text-align: center;
    box-sizing: border-box;
}
.featured>h1{
    width: 786px;
    height: 60px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #050C26;
    margin:30px auto;
}
.featured>p{
    width: 874px;
    height: 62px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
    margin: 30px auto;
}
.featuredcards{
    width: 100%;
    height: 65%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5%;
}
.cards{
    width: 263px;
    height: 413px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    transition: 0.1s all  0.001s ease-in-out;
    margin: 0 2rem;
}
.cards:hover{
    background-color: rgba(197, 72, 255, 0.2);
    transform: translateZ(10px) scale(1.1);
    box-shadow: 0 0 20px 10px  rgba(0,0,0,0.1);
}
.ellips{
    background-color: rgba(197, 72, 255, 0.1);
    margin:5% auto 0 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.ellips img{
    background-color: transparent;
    width: 40%;
    height: 40%;
}
.cards h1{
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #050C26;
    text-align: center;

}
.cards p{
    height: 52px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #575859;
}
.butreadmore{
    width: 140px;
    height: 50px;
    background-color: #3988FF;
    border-radius: 5px;
    margin: 5% auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.butreadmore a{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
}
.problems{
    height: 1240px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}
.problems>h1{
    width: 492px;
    height: 120px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #050C26;

}
.problems p{
    width: 604px;
    height: 87px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
}
.problemcards{
    width: 100%;
    height: 900px;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.boxout{
    width: 360px;
    height: 413px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(104px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxin{
    width: 280px;
    height: 333px;
    background: #F3F3F3;
    border-radius: 10px;
    text-align: center;
}
.boxin h1{
    width: 221px;
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #050C26;
    margin: 1rem auto;
}
.boxin p{
    width: 241px;
    height: 52px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #575859;
    margin: 0 auto;
}
#boxin2{
    background-image: linear-gradient(180deg, #D93059 0%, #D95B7A 100%);
}
#boxin2 p, #boxin2 h1{
    color: #ffffff;
}
#boxout2{
    background-image: url("../images/boxout2background.svg");
}
.boxincircle{
    border-radius: 50%;
    width:60px;
    height: 60px;
    background-color: white;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxincircle img{
    width: 50%;
    height: 50%;
}

.pricing{
    width: 1080px;
    margin: 0 auto;
    height: 870px;
    box-sizing: border-box;
    text-align: center;
}
.pricing h1{
    height: 49px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 140%;
    text-align: center;
    color: #050C26;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.pricing h3{
    height: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #575859;
    text-transform: uppercase;
}
.billing{
    width: 353px;
    height: 69px;
    border: 1px solid #1B45DA;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.billingtype1, .billingtype2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 49px;
    border-radius: 5px;
    padding: 0;
}
.billingtype2{
    background-color: #3988FF;
}
.billingtype2 a{
    width: 150px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #ffffff;
    text-decoration: none;
}
.billingtype1 a{
    width: 150px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
    text-decoration: none;
}
.pricingboxes{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    margin:2rem 0 0 0;
}
.pricingbox{
    width: 340px;
    height: 610px;
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}
.pricingbox:hover{
    box-shadow: 0 0 10px 7px rgba(0,0,0,0.2) ;
}
.pricingboxhead{
    box-sizing: border-box;
    width: 100%;
    height: 129px;
    background:transparent;
    box-shadow: 0 1px 0 rgba(153, 153, 153, 0.14);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricingbox h1{
    width: 99px;
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #050C26;
    text-transform: none;
}
.pricingbox h2{
    height: 49px;
    font-size: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    color: #050C26;
}
.pricingbox sub{
    width: 12px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #050C26;
}
.pricingbox span{
    width: 115px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #575859;
}
#box2{
    background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
    color: white;
}
#box2 span, #box2 h2,#box2 h2 sub,#box2 .pricingboxhead h1{
    color: white;
}
.purchase{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 161px;
    height: 68px;
    border: 1px solid #3988FF;
    box-sizing: border-box;
    border-radius: 5px;
    margin:3rem auto ;
}
.purchase a{
    width: 101px;
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #3988FF;
    text-decoration: none;
}
#box2 .purchase a{
    color: white;
}
#box2 .purchase{
    background-color: #3988FF;
}
.romb{
    position: absolute;
    width: 75px;
    height: 22px;
    background: #11BB92;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    left: -18px;
}
.romb p{
    width: 42px;
    height: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 160%;
    color: #050C26;
}
#box2 .pricingboxhead{
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
}
body>h1{
    margin: 6rem auto 1rem;
    width: 466px;
    height: 60px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #050C26;
}
body>p{
    text-align: center;
    margin: 0 auto;
    width: 715px;
    height: 58px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
}
.clientsaying{
    width: 1140px;
    height: 374px;
    margin: 2rem auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.clients{
    width:45%;
    height:350px ;
    box-sizing: border-box;
}
.clients>p{
    margin: 5rem 0 1rem 7rem;
    text-align: left;
    position: relative;
}
.clients>p::before{
    content :"";
    width: 42px;
    height:35px;
    position: absolute;
    top: -5px;
    left: -50px;
    background-image: url("../images/coma.svg");
}
.client1, .client2{
    width: 265px;
    height: 95px;
    margin: 2rem 0 0 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
}
.clientname h4{
    width: 143px;
    margin: 0.4rem;
    height: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #050C26;
}
.clientname h5{
    margin: 0.4rem;
    width: 137px;
    height: 26px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #575859;
}
.clientname{
    height: 90%;
    width: 60%;
    box-sizing: border-box;
    text-align: center;

}
.slider{
    width: 130px;
    height: 13px;
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.slide1{
    width: 40px;
    height: 11px;
    background: #3988FF;
    border-radius: 20px;
}
.slide2{
    width: 40px;
    height: 11px;
    background: #ffffff;
    border-radius: 20px;
}
.footer{
    width: 100%;
    height: 430px;
    margin: 6rem auto 0;
    background-color: #050C26;
    box-sizing: border-box;
}
.footercontent{
    width: 70%;
    height:350px ;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.line{
    margin: 0 auto;
    width: 70%;
    height: 0;
    opacity: 0.1;
    border: 1px solid #FFFFFF;
}
.footer>p{
    width: 455px;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #575859;
    margin: 2rem auto 0;
}
.innovated{
    width: 335px;
    height:  205px;
    box-sizing: border-box;
}
.innovated>h1{
    width: 157px;
    height: 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.innovated>p{
    width: 316px;
    height: 116px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}.services{
     width: 255px;
     height:  205px;
     box-sizing: border-box;
     margin: 0 1rem;
 }
 .services h1,.support h1{
     margin-left: 2.8rem;
     width: 84px;
     height: 32px;
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 160%;
     color: #FFFFFF;
 }
 .services ul,.support ul{
    list-style: none;
 }
 .services ul li a, .support ul li a, .contact a{
     text-decoration: none;
     width: 206px;
     height: 29px;
     font-family: Montserrat;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 160%;
     color: #FFFFFF;
     opacity: 0.7;
 }
.services ul li, .support ul li{
    height: 26px;
}
.support{
    margin: 0 1rem;
    width: 165px;
    height: 205px;
    box-sizing: border-box;
}
.contact{
    margin: 0 1rem;
    width: 245px;
    height: 205px;
    box-sizing: border-box;
}
.contact h1{
    height: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
}
.contactmessengers{
    width: 70%;
    height: 40px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
}
.contactmessengers a{
    width: 20px;
    height: 20px;
}
.contactmessengers a img{
    width: 20px;
    height: 20px;
}
.subscribebutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 161px;
    height: 62px;
    background: #3988FF;
    border-radius: 5px;
    margin-top: 10px;
}
.subscribebutton a{
    text-decoration: none;
    width: 101px;
    height: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    text-align: center;
}